.clients
	&-title
		max-width: 615px
	&-wrap
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center
	&-item
		display: flex
		justify-content: center
		align-items: center
		padding: 0 20px
		@include _768
			padding: 0 10px
