.header
	&__grid
		max-width: 100%
		display: grid
		grid-template-columns: 6% 42% 7% 18% 18%
		column-gap: 30px
		grid-template-rows: 100px
		align-items: center
	&-logo
		justify-content: center
	&-menu
		justify-content: start
		font-size: 1.6rem
		background-color: transparent
		display: flex
		flex-flow: row wrap
		transition: all 0.3s
		// @include _768
		// 	position: fixed
		// 	right: 70px
		// 	flex-flow: column wrap
		// 	visibility: hidden
		// 	right: -200px
		// 	z-index: 999
		// &.active
		// 	background-color: $colors__light-gray
		// 	color: $colors__base
		// 	width: 200px
		// 	right: 0
		// 	visibility: visible
		&__link
			margin-right: 20px
			transition: background-color 0.3s
			position: relative
			&:before
				content: ""
				width: 0
				height: 1px
				position: absolute
				bottom: -3px
				left: 50%
				background: $colors__white
				transition: all 0.3s
			&:hover
				cursor: pointer
			&:hover:before
				width: 100%
				left: 0
				background-color: $colors__white
	&-btn
		font-size: 1.6rem
		display: flex
		align-items: center
	&-search
		&::before
			content: ''
			background-image: url(../img/icons/find.svg)
			background-position: 0 0
			background-repeat: no-repeat
			background-size: cover
			width: 24px
			height: 24px
			display: inline-block
			margin-right: 8px
