.subscribe
	// background: url(../img/subscribe/card-subscribe-bg.png), #092558
	background-repeat: no-repeat
	background-position: center right
	background-size: contain
	background-blend-mode: color-dodge
	position: relative
	z-index: 99
	@include _768
		background-position: center 150px
	&-wrap
		background: url(../img/subscribe/big-star.png)
		background-repeat: no-repeat
		background-size: contain
		background-position: center right
		@include _768
			background-position: center 30px
	&-card
		margin-left: 130px
		@include _979
			margin: 0 auto
		@include _768
			margin-top: 400px
