.work-areas
	&__grid
		display: grid
		grid-template-columns: repeat(4, 1fr)
		grid-template-rows: repeat(4, 1fr)
		grid-gap: 40px
		@include _979
			grid-template-columns: repeat(3, 1fr)
		@include _768
			grid-template-columns: repeat(2, 1fr)
		@include _480
			grid-template-columns: 1fr
	&__item
		min-height: 250px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		background: $colors__background
		border: 1px solid rgba(255, 255, 255, 0.24)
		border-radius: 10px
		transition: all 0.3s
		&:hover
			cursor: pointer
			background: $colors__background-hover
			border: 1px solid #085FF0
			backdrop-filter: blur(16px)
	&__img
		margin: 20px auto
	&__name
		font-size: 2rem
		text-align: center
		@include _480
			font-size: 2.5rem
