@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  display: inline-block;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  padding: 0;
  outline: none;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.label1 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 4px 8px #041B42;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .label1 {
    font-size: 4rem;
  }
}

.block-title {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 500;
  color: #FFFFFF;
  margin: 120px auto 60px;
  text-align: center;
}

.text__yellow {
  color: #FFD800;
}

.text-roboto {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.1;
}

@media only screen and (max-width: 768px) {
  .text-roboto {
    font-size: 2.4rem;
  }
}

.text {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.1;
  color: #FFFFFF;
}

@media only screen and (max-width: 979px) {
  .text {
    font-size: 2.4rem;
  }
}

.form-header {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 30px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    z-index: 9999;
  }
}

.burger__span {
  position: absolute;
  top: 50%;
  margin-top: 1.5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

.burger__span::before, .burger__span::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger__span::before {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.burger__span::after {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.burger.active span {
  height: 0;
}

.burger.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFD800;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-size: 2rem;
  line-height: 24px;
  text-align: center;
  color: #041B42;
  padding: 26px;
  border: 1px solid #FFD800;
}

.btn:hover {
  background-color: #FFD800;
}

.btn:active {
  -webkit-box-shadow: 0px 0px 7px 4px #FFD800;
          box-shadow: 0px 0px 7px 4px #FFD800;
}

.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.form__header {
  font-family: "Gilroy";
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  font-size: 2.6rem;
  line-height: 30px;
}

.form__text {
  display: block;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  margin: 30px 0 10px;
  color: rgba(4, 27, 66, 0.5);
}

.form__input {
  display: block;
  border-radius: 40px;
  background-color: #FFFFFF;
  border: 1px solid rgba(4, 27, 66, 0.24);
  height: 80px;
  width: 100%;
  font-size: 2.8rem;
  line-height: 33px;
}

.form__radio-btns {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__radio-btns label i {
  font-size: 5rem;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__radio-btns input[type="radio"] {
  opacity: 0;
}

.form__radio-btns input[type="radio"]:checked + .form__label i {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.form__textarea {
  height: 100px;
  resize: none;
}

.modal {
  display: none;
}

.modal__overlay {
  width: 100%;
  min-height: 100vh;
  z-index: 7000;
  padding: 40px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow: hidden;
}

.modal__overlay.open {
  opacity: 1;
  cursor: pointer;
}

.modal__wrapper {
  z-index: 9979;
  position: relative;
  margin-top: 100px;
  color: #ffffff;
  max-width: 450px;
  padding: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 480px) {
  .modal__wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .modal__socials {
    display: none;
  }
}

.modal__header {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.modal__close {
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  top: -24px;
  right: -35px;
}

.modal__input {
  width: 100%;
  margin-bottom: 20px;
}

.modal-thanks {
  display: none;
}

.modal-thanks__overlay {
  width: 100%;
  min-height: 100vh;
  z-index: 7000;
  padding: 40px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow: hidden;
}

.modal-thanks__overlay.open {
  opacity: 1;
  cursor: pointer;
}

.modal-thanks__wrapper {
  z-index: 9979;
  position: relative;
  margin-top: 100px;
  color: #fff;
  max-width: 450px;
  padding: 30px;
  border-radius: 15px;
}

@media only screen and (max-width: 480px) {
  .modal-thanks__wrapper {
    margin-top: 0;
  }
}

.modal-thanks__header {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.modal-thanks__close {
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  top: -24px;
  right: -35px;
}

.splide {
  margin: 0 auto;
}

.splide__pagination {
  bottom: 0;
}

.splide__pagination__dot {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 50%;
  margin: 23px;
  padding: 0;
  border: none;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.splide__pagination__dot.is-active {
  background-color: #FFD800;
}

.splide__pagination__dot.is-active::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(255, 216, 0, 0.24);
}

.splide__circle {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.24);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.splide__circle:hover {
  background-color: rgba(9, 37, 88, 0.4);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border: 1px solid #085FF0;
}

.splide__arrows {
  position: absolute;
  top: 50%;
  left: -5%;
  width: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.splide__arrow {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 6px);
  width: 13px;
  height: 22px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.splide__arrow--next {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  fill: #fff;
}

.splide__arrow--next:hover {
  fill: #FFD800;
}

.splide__arrow--prev {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  fill: #fff;
}

.splide__arrow--prev:hover {
  fill: #FFD800;
}

.card__grid {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: 1px solid #5B6876;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 768px) {
  .card__grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.card__picture-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .card__picture-area {
    padding: 100px 0;
  }
}

.card__action-area {
  background-color: #FFFFFF;
  padding: 30px 70px;
  color: #041B42;
}

@media only screen and (max-width: 979px) {
  .card__action-area {
    padding: 30px;
  }
}

.card-form__header {
  color: #041B42;
}

.card-form__input {
  text-align: center;
}

.card-form__input-small {
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .card-form__input {
    font-size: 3rem;
  }
}

.card-form__input-radio {
  font-size: 8.8rem;
}

.card-form__submit {
  display: block;
  margin: 20px auto;
}

@media only screen and (max-width: 768px) {
  .card-form__submit {
    width: 100%;
    font-size: 3.2rem;
  }
}

.card-policy {
  color: rgba(4, 27, 66, 0.5);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1;
  margin: 20px 10px;
}

.card-policy a {
  color: #085FF0;
}

html {
  font-size: 8px;
}

@media (min-width: 480px) {
  html {
    font-size: calc(0.00217 * 100vw + 6.95652px);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.1;
  color: #ffffff;
  overflow-x: hidden;
  background: #092558;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1400px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

.container__portfolio {
  max-width: 1670px;
  padding: 15px;
  margin: 0 auto;
}

.primary-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFD800;
}

.wrap {
  margin-top: 120px;
}

.block-separator {
  display: block;
  z-index: 100;
  width: 100%;
  height: 150px;
  background-image: url(../img/separator1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -135px;
}

.block-separator__after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 0;
}

.stars-block {
  background-image: url(../img/stars-bg2.png), radial-gradient(50% 50% at 50% 50%, rgba(8, 95, 240, 0.32) 0%, rgba(8, 95, 240, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(4, 27, 66, 0) 83.33%, rgba(4, 27, 66, 0.32) 100%);
  background-color: #092558;
  -webkit-box-shadow: inset #092558 0 0 40px 10px, #092558 0 0 24px 12px;
          box-shadow: inset #092558 0 0 40px 10px, #092558 0 0 24px 12px;
  opacity: .6;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-color-size: 200px;
  background-blend-mode: color-dodge;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .stars-block {
    width: 300px;
    height: 300px;
  }
}

.stars-block__ar-top {
  top: -240px;
  left: 75px;
}

.stars-block__ar-bottom {
  bottom: -275px;
  right: 0;
}

.blur-card {
  background: rgba(4, 27, 66, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 40px;
}

.header__wrap {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.header__grid {
  z-index: 500;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6% 42% 7% 36%;
      grid-template-columns: 6% 42% 7% 36%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "logo menu search connect";
}

@media only screen and (max-width: 1250px) {
  .header__grid {
    -ms-grid-columns: 15% 70% 10%;
        grid-template-columns: 15% 70% 10%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .header__grid {
    width: 100%;
    border-bottom: rgba(4, 27, 66, 0.4);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    -ms-grid-columns: 20% 17% 50%;
        grid-template-columns: 20% 17% 50%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .header__grid {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.header-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo img {
  width: 80px;
}

@media only screen and (max-width: 768px) {
  .header-logo {
    display: none;
  }
}

.header-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  font-size: 1.6rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
  .header-menu {
    visibility: hidden;
    height: 0;
  }
}

.header-menu.active {
  visibility: visible;
  position: fixed;
  height: 100vh;
  top: 0;
  left: -153px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #DEECF9;
  width: 100vw;
}

.header-menu__link {
  margin-right: 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
}

.header-menu__link:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  background: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu__link:hover {
  cursor: pointer;
}

.header-menu__link:hover:before {
  width: 100%;
  left: 0;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1250px) {
  .header-menu__link {
    margin-bottom: 20px;
  }
}

.header-btn {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 0 12px 75px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  height: 70px;
  border-radius: 40px;
  position: relative;
  color: #ffffff;
  line-height: 0.9;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-btn__text-big {
  font-family: "Gilroy";
  font-weight: 500;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 22px;
}

@media only screen and (max-width: 768px) {
  .header-btn__text-big {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .header-btn__text-big {
    font-size: 1.8rem;
  }
}

.header-btn::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFD800;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: calc( 50% - 35px);
  left: 0;
}

.header-btn:hover {
  background: rgba(9, 37, 88, 0.6);
  border: 1px solid #085FF0;
}

.header-btn__envelope::before {
  background-image: url(../img/icons/envelope.png);
}

@media only screen and (max-width: 768px) {
  .header-btn__envelope {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header-btn__call {
    font-size: 1.6rem;
  }
}

.header-btn__call::before {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-image: url(../img/icons/call.svg);
}

.header-search {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  width: 78px;
  background-color: transparent;
  border: 0;
  color: #ffffff;
}

@media (min-width: 480px) {
  .header-search {
    font-size: calc(0.00217 * 100vw + 12.95652px);
  }
}

@media (min-width: 1400px) {
  .header-search {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .header-search {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 100%;
  }
  .header-search span {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .header-search {
    margin-left: 20px;
  }
}

.header-search::before {
  content: '';
  background-image: url(../img/icons/find.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .header-search::before {
    width: 50px;
    height: 50px;
  }
}

.header-connect-btns {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: connect;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1250px) {
  .header-connect-btns {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media only screen and (max-width: 979px) {
  .header-connect-btns {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header-connect-btns {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.header-connect-btns__item {
  width: 50%;
  margin-right: 10px;
}

@media only screen and (max-width: 1250px) {
  .header-connect-btns__item {
    margin: 10px auto;
    width: 35%;
  }
}

@media only screen and (max-width: 979px) {
  .header-connect-btns__item {
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  .header-connect-btns__item {
    width: 70px;
    border: none;
    color: transparent;
    position: relative;
  }
  .header-connect-btns__item a {
    font-size: 4rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -45px;
    left: -150px;
    height: 40px;
    width: 300px;
    background-color: rgba(9, 37, 88, 0.48);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.header-connect-btns__item.active a {
  visibility: visible;
  opacity: 1;
  bottom: -60px;
}

.header-connect-btns__item.active:hover {
  border: 0;
}

.header-connect-btns__item.active:hover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.hero-title {
  max-width: 1080px;
  margin: 200px auto 50px;
}

@media only screen and (max-width: 1250px) {
  .hero-title {
    margin-top: 250px;
  }
}

.hero-subtitle {
  font-family: "Gilroy";
  font-weight: 500;
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 38px;
  text-align: center;
  text-shadow: 0px 4px 8px #041B42;
  margin-bottom: 50px;
}

.hero-policy {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 10px;
}

.hero-policy a {
  color: white;
}

.hero-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(4, 27, 66, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.hero-arrow::before {
  content: "";
  background-image: url(../img/icons/arrow-down.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 13px 7px;
  display: block;
  height: 25px;
  width: 50px;
}

.hero-arrow:hover {
  cursor: pointer;
  background: rgba(9, 37, 88, 0.6);
  border: 1px solid #085FF0;
}

.hero-form {
  max-width: 760px;
  height: 400px;
  margin: 0 auto;
  padding: 40px 80px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .hero-form {
    width: auto;
    height: auto;
  }
}

.hero-form__header {
  margin: 15px 0;
}

.hero-form__label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.hero-form__input {
  height: 90px;
  width: 100%;
  position: relative;
  font-size: 28px;
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .hero-form__input {
    text-align: center;
  }
}

.hero-form__submit {
  position: absolute;
  top: 215px;
  right: 87px;
}

@media only screen and (max-width: 768px) {
  .hero-form__submit {
    display: block;
    margin: 20px auto;
    position: static;
  }
}

.hero-form__flag {
  position: absolute;
  top: -55px;
  left: -27px;
}

.about {
  background: #041B42;
}

.about-title {
  padding: 0 150px;
}

@media only screen and (max-width: 979px) {
  .about-title {
    padding: 0 50px;
  }
}

.about__grid {
  padding: 40px 0px;
  background-image: url(../img/about/about-deer.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 700px;
}

@media only screen and (max-width: 979px) {
  .about__grid {
    background-position: center -40px;
    background-size: 500px;
    padding: 400px 0 0 0;
  }
}

.about-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(30%, 350px) minmax(30%, 350px);
      grid-template-columns: minmax(30%, 350px) minmax(30%, 350px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
  .about-row {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-row-gap: 30px;
    margin-bottom: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.about-row:nth-child(4) {
  margin-bottom: 0;
}

.about-row.one, .about-row.four {
  -webkit-column-gap: 340px;
          column-gap: 340px;
}

@media only screen and (max-width: 1170px) {
  .about-row.one, .about-row.four {
    -webkit-column-gap: 240px;
            column-gap: 240px;
  }
}

@media only screen and (max-width: 979px) {
  .about-row.one, .about-row.four {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.about-row.two, .about-row.three {
  -webkit-column-gap: 500px;
          column-gap: 500px;
}

@media only screen and (max-width: 1170px) {
  .about-row.two, .about-row.three {
    -webkit-column-gap: 400px;
            column-gap: 400px;
  }
}

@media only screen and (max-width: 979px) {
  .about-row.two, .about-row.three {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-item.left {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .about-item.left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: left;
    width: 90%;
  }
}

.about-item__icon {
  width: 100px;
  height: 100px;
}

.about-item__icon.left {
  margin-right: 20px;
}

.about-item__icon.right {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .about-item__icon.right {
    margin-left: 0;
    margin-right: 20px;
  }
}

.smi {
  margin-bottom: 100px;
}

.smi-slider iframe {
  position: absolute;
  border: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.smi-slider__item {
  overflow: hidden;
  position: relative;
  min-height: 330px;
  width: 100%;
  margin: 0 auto;
  margin-right: 20px;
  border-radius: 10px;
}

.card-promo__grid {
  background: url(../img/promo-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .card-promo__grid {
    background-position: -50px 0;
    background-size: 1100px 700px;
  }
}

.card-promo-picture-area__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  line-height: 120%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(4, 27, 66, 0.8) 29.17%, rgba(4, 27, 66, 0) 100%);
}

.card-promo-picture-area__subtitle-small {
  margin-top: 40px;
  font-size: 2rem;
  line-height: 24px;
}

.card-promo-action-area {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media only screen and (max-width: 768px) {
  .card-promo-action-area {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 40px;
  }
}

.card-promo-countdown {
  margin: 40px 0;
}

.card-promo-countdown__header {
  font-size: 2rem;
  text-align: center;
  color: rgba(4, 27, 66, 0.5);
}

.card-promo-countdown__timer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 216, 0, 0.24);
  border-radius: 20px;
  padding: 10px;
  width: 280px;
  margin: 10px auto;
}

.card-promo-countdown__timer-item {
  font-size: 3.8rem;
  line-height: 33px;
  color: #041B42;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%), #FFD800;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.card-promo-countdown__labels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  margin: 10px auto;
  text-align: center;
}

.card-promo-countdown__labels-item {
  font-size: 1.6rem;
  line-height: 33px;
  color: #041B42;
}

.work-areas__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
}

@media only screen and (max-width: 979px) {
  .work-areas__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .work-areas__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .work-areas__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.work-areas__item {
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(9, 37, 88, 0.48);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.work-areas__item:hover {
  cursor: pointer;
  background: rgba(9, 37, 88, 0.96);
  border: 1px solid #085FF0;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.work-areas__img {
  margin: 20px auto;
}

.work-areas__name {
  font-size: 2rem;
  text-align: center;
}

.card-portfolio__grid {
  margin-top: 180px;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

@media only screen and (max-width: 768px) {
  .card-portfolio__grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.card-portfolio-action-area {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

@media only screen and (max-width: 768px) {
  .card-portfolio-action-area {
    -ms-grid-row: 2;
    grid-row: 2;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 0px;
  }
}

.card-portfolio-picture-area {
  background: url(../img/card-portfolio/promo-portfolio-stars.png), url(../img/card-portfolio/card-portfolio-stars2.png);
  background-color: #092558;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-color-size: 200px;
  background-blend-mode: color-dodge;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media only screen and (max-width: 768px) {
  .card-portfolio-picture-area {
    -ms-grid-row: 1;
    grid-row: 1;
    border-top-left-radius: 40px;
  }
}

.card-portfolio-picture-area__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-slider {
  position: relative;
}

.portfolio__outer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (410px)[4];
      grid-template-columns: repeat(4, 410px);
  grid-gap: 10px;
  position: relative;
}

.portfolio-inner-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (200px)[4];
      grid-template-rows: repeat(4, 200px);
  -ms-grid-columns: (200px)[2];
      grid-template-columns: repeat(2, 200px);
  grid-gap: 10px;
}

.portfolio-inner-grid__center-down:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio-inner-grid__center-down:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.portfolio-inner-grid__center-down:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.portfolio-inner-grid__center-down:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.portfolio-inner-grid__top-left:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.portfolio-inner-grid__top-left:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.portfolio-inner-grid__top-left:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio-inner-grid__top-left:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.portfolio-inner-grid__bottom-bottom:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio-inner-grid__bottom-bottom:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.portfolio-inner-grid__bottom-bottom:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.portfolio-inner-grid__bottom-bottom:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.portfolio-inner-grid__center-top:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.portfolio-inner-grid__center-top:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.portfolio-inner-grid__center-top:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.portfolio-inner-grid__center-top:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.portfolio__see-more {
  font-size: 2.8rem;
  text-align: center;
  line-height: 1.1;
  z-index: 10;
  color: #FFFFFF;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: rgba(4, 27, 66, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.portfolio__see-more:hover {
  -webkit-animation: heartbeat 4s infinite;
          animation: heartbeat 4s infinite;
}

.portfolio__see-more::after {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(4, 27, 66, 0.3);
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .portfolio__see-more {
    display: none;
  }
}

.portfolio__pagination {
  position: absolute;
  z-index: 1;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

.ar-wrap {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#092558), color-stop(14.58%, rgba(4, 27, 66, 0.6)), color-stop(21.87%, rgba(4, 27, 66, 0)), color-stop(88.02%, rgba(4, 27, 66, 0)), to(#092558)), radial-gradient(50% 50% at 50% 50%, rgba(4, 27, 66, 0) 83.33%, rgba(4, 27, 66, 0.32) 100%), url(../img/ar/ar-bg.jpg);
  background: linear-gradient(180deg, #092558 0%, rgba(4, 27, 66, 0.6) 14.58%, rgba(4, 27, 66, 0) 21.87%, rgba(4, 27, 66, 0) 88.02%, #092558 100%), radial-gradient(50% 50% at 50% 50%, rgba(4, 27, 66, 0) 83.33%, rgba(4, 27, 66, 0.32) 100%), url(../img/ar/ar-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
}

.ar-subtitle {
  font-size: 3.2rem;
  color: #FFD800;
  text-align: center;
}

.ar-steps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

@media only screen and (max-width: 979px) {
  .ar-steps {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    grid-gap: 40px;
    justify-items: center;
    text-align: center;
    width: 70%;
    margin: 30px auto;
  }
}

.ar-step {
  padding: 40px;
  line-height: 1.3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ar-step:not(:last-child):after {
  content: "";
  width: 25px;
  height: 40px;
  background-image: url(../img/ar/arrow-right.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -30px;
  top: calc( 50% - 20px);
}

@media only screen and (max-width: 979px) {
  .ar-step:not(:last-child):after {
    left: calc( 50% - 20px);
    top: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.ar-step__num {
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 10;
  color: #000000;
}

.ar-step__num::after {
  content: "";
  z-index: -2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFD800;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: calc( 50% - 25px);
  left: calc( 50% - 25px);
}

@media only screen and (max-width: 979px) {
  .ar-step__num {
    left: -5px;
    top: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .ar-step__num {
    top: 60px;
  }
}

.ar-img {
  margin-top: -20px;
  z-index: 100;
  position: relative;
}

.ar-advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media only screen and (max-width: 979px) {
  .ar-advantages {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .ar-advantages {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.ar-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(4, 27, 66, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 70px;
  padding: 20px;
}

.ar-advantage img {
  width: 20%;
  margin: 0 20px;
}
/*# sourceMappingURL=style.css.map */