@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  display: inline-block;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  padding: 0;
  outline: none;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.label1 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 61.6px;
  text-align: center;
  text-shadow: 0px 4px 8px #041B42;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .label1 {
    font-size: 4rem;
  }
}

.block-title {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 500;
  color: #FFFFFF;
  margin: 60px auto;
  text-align: center;
}

.text__yellow {
  color: #FFD800;
}

.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
}

.form-header {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 50px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    z-index: 9999;
  }
}

.burger__span {
  position: absolute;
  top: 50%;
  margin-top: 1.5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

.burger__span::before, .burger__span::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger__span::before {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.burger__span::after {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.burger.active span {
  height: 0;
}

.burger.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFD800;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-size: 2rem;
  line-height: 24px;
  text-align: center;
  color: #041B42;
  padding: 26px;
  border: 1px solid #FFD800;
}

.btn:hover {
  background-color: #FFD800;
}

.btn:active {
  -webkit-box-shadow: 0px 0px 7px 4px #FFD800;
          box-shadow: 0px 0px 7px 4px #FFD800;
}

.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.form__header {
  font-family: "Gilroy";
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  font-size: 2.6rem;
  line-height: 30px;
}

.form__label {
  line-height: 24px;
  text-align: center;
}

.form__input {
  border-radius: 40px;
  background-color: #FFFFFF;
}

.form__textarea {
  height: 100px;
  resize: none;
}

.modal {
  display: none;
}

.modal__overlay {
  width: 100%;
  min-height: 100vh;
  z-index: 7000;
  padding: 40px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow: hidden;
}

.modal__overlay.open {
  opacity: 1;
  cursor: pointer;
}

.modal__wrapper {
  z-index: 9979;
  position: relative;
  margin-top: 100px;
  color: #ffffff;
  max-width: 450px;
  padding: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 480px) {
  .modal__wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .modal__socials {
    display: none;
  }
}

.modal__header {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.modal__close {
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  top: -24px;
  right: -35px;
}

.modal__input {
  width: 100%;
  margin-bottom: 20px;
}

.modal-thanks {
  display: none;
}

.modal-thanks__overlay {
  width: 100%;
  min-height: 100vh;
  z-index: 7000;
  padding: 40px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow: hidden;
}

.modal-thanks__overlay.open {
  opacity: 1;
  cursor: pointer;
}

.modal-thanks__wrapper {
  z-index: 9979;
  position: relative;
  margin-top: 100px;
  color: #fff;
  max-width: 450px;
  padding: 30px;
  border-radius: 15px;
}

@media only screen and (max-width: 480px) {
  .modal-thanks__wrapper {
    margin-top: 0;
  }
}

.modal-thanks__header {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.modal-thanks__close {
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  top: -24px;
  right: -35px;
}

html {
  font-size: 8px;
}

@media (min-width: 480px) {
  html {
    font-size: calc(0.00217 * 100vw + 6.95652px);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Gilroy";
  font-weight: 500;
  color: #ffffff;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 95, 240, 0.32)), color-stop(36.46%, rgba(8, 95, 240, 0))), #092558;
  background: linear-gradient(180deg, rgba(8, 95, 240, 0.32) 0%, rgba(8, 95, 240, 0) 36.46%), #092558;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1400px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
}

.primary-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFD800;
}

.wrap {
  margin-top: 120px;
}

.block-separator {
  display: block;
  z-index: 100;
  width: 100%;
  height: 120px;
  background-image: url(../img/separator1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -105px;
}

.block-separator__after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 0;
}

.header__wrap {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.header__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6% 42% 7% 36%;
      grid-template-columns: 6% 42% 7% 36%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "logo menu search connect";
}

@media only screen and (max-width: 768px) {
  .header__grid {
    width: 100%;
    border-bottom: rgba(4, 27, 66, 0.4);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    -ms-grid-columns: 20% 17% 50%;
        grid-template-columns: 20% 17% 50%;
  }
}

@media only screen and (max-width: 480px) {
  .header__grid {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.header-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo img {
  width: 80px;
}

@media only screen and (max-width: 768px) {
  .header-logo {
    display: none;
  }
}

.header-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.6rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }
}

.header-menu__link {
  margin-right: 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
}

.header-menu__link:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  background: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu__link:hover {
  cursor: pointer;
}

.header-menu__link:hover:before {
  width: 100%;
  left: 0;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1250px) {
  .header-menu__link {
    margin-bottom: 20px;
  }
}

.header-btn {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 0 12px 75px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  height: 70px;
  border-radius: 40px;
  position: relative;
  color: #ffffff;
  line-height: 0.9;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-btn__text-big {
  font-family: "Gilroy";
  font-weight: 500;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 22px;
}

.header-btn::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), #FFD800;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFD800;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: calc( 50% - 35px);
  left: 0;
}

.header-btn:hover {
  background: rgba(9, 37, 88, 0.6);
  border: 1px solid #085FF0;
}

.header-btn__envelope::before {
  background-image: url(../img/icons/envelope.png);
}

@media only screen and (max-width: 768px) {
  .header-btn__envelope {
    display: none;
  }
}

.header-btn__call::before {
  background-image: url(../img/icons/call.svg);
}

.header-search {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  width: 78px;
  background-color: transparent;
  border: 0;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .header-search {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 100%;
  }
  .header-search span {
    display: none;
  }
}

.header-search::before {
  content: '';
  background-image: url(../img/icons/find.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .header-search::before {
    width: 50px;
    height: 50px;
  }
}

.header-connect-btns {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: connect;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 1250px) {
  .header-connect-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 979px) {
  .header-connect-btns {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header-connect-btns {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

.header-connect-btns__item {
  width: 50%;
  margin-right: 10px;
}

@media only screen and (max-width: 1250px) {
  .header-connect-btns__item {
    width: 60%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 979px) {
  .header-connect-btns__item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header-connect-btns__item {
    margin-bottom: 0;
  }
}

.header-mobile-menu {
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  background-color: #FFFFFF;
  height: 0;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-mobile-menu li a {
  padding: 15px 0;
  text-transform: uppercase;
}

.header-mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  font-size: 4rem;
}

.header-mobile-menu.active {
  z-index: 100;
  top: 0;
  opacity: 1;
  height: 100vh;
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 1080px;
  margin: 200px auto 50px;
}

.hero-subtitle {
  font-family: "Gilroy";
  font-weight: 500;
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 38px;
  text-align: center;
  text-shadow: 0px 4px 8px #041B42;
  margin-bottom: 50px;
}

.hero-policy {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 10px;
}

.hero-policy a {
  color: white;
}

.hero-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(4, 27, 66, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.hero-arrow::before {
  content: "";
  background-image: url(../img/icons/arrow-down.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 13px 7px;
  display: block;
  height: 25px;
  width: 50px;
}

.hero-arrow:hover {
  cursor: pointer;
  background: rgba(9, 37, 88, 0.6);
  border: 1px solid #085FF0;
}

.hero-form {
  max-width: 760px;
  height: 400px;
  margin: 0 auto;
  padding: 40px 80px;
  background: rgba(4, 27, 66, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  position: relative;
}

.hero-form__header {
  margin: 15px 0;
}

.hero-form__label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.hero-form__input {
  height: 90px;
  width: 100%;
  position: relative;
  font-size: 28px;
  padding-left: 40px;
}

.hero-form__submit {
  position: absolute;
  top: 200px;
  right: 87px;
}

.hero-form__flag {
  position: absolute;
  top: -55px;
  left: -27px;
}

.about {
  background: #041B42;
}

.about-title {
  padding: 0 150px;
}

@media only screen and (max-width: 979px) {
  .about-title {
    padding: 0 50px;
  }
}

.about__grid {
  padding: 40px 0px;
  background-image: url(../img/about/about-deer.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 700px;
}

@media only screen and (max-width: 979px) {
  .about__grid {
    background-position: center -40px;
    background-size: 500px;
    padding: 400px 0 0 0;
  }
}

.about-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(30%, 350px) minmax(30%, 350px);
      grid-template-columns: minmax(30%, 350px) minmax(30%, 350px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
  .about-row {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-row-gap: 30px;
    margin-bottom: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.about-row:nth-child(4) {
  margin-bottom: 0;
}

.about-row.one, .about-row.four {
  -webkit-column-gap: 340px;
          column-gap: 340px;
}

@media only screen and (max-width: 1170px) {
  .about-row.one, .about-row.four {
    -webkit-column-gap: 240px;
            column-gap: 240px;
  }
}

@media only screen and (max-width: 979px) {
  .about-row.one, .about-row.four {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.about-row.two, .about-row.three {
  -webkit-column-gap: 500px;
          column-gap: 500px;
}

@media only screen and (max-width: 1170px) {
  .about-row.two, .about-row.three {
    -webkit-column-gap: 400px;
            column-gap: 400px;
  }
}

@media only screen and (max-width: 979px) {
  .about-row.two, .about-row.three {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-item.left {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .about-item.left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: left;
    width: 90%;
  }
}

.about-item__icon {
  width: 100px;
  height: 100px;
}

.about-item__icon.left {
  margin-right: 20px;
}

.about-item__icon.right {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .about-item__icon.right {
    margin-left: 0;
    margin-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */