@keyframes pulse
	0%
		transform: translate(0, 0)
	50%
		transform: translate(0, 10px)
	100%
		transform: translate(0, 0)
@keyframes heart
	0%
		transform: scale(1)
	50%
		transform: scale(1.03)
	100%
		transform: scale(1)
@keyframes heartbeat
  0%
    transform: scale( .75 )
  20%
    transform: scale( 1 )
  40%
    transform: scale( .75 )
  60%
    transform: scale( 1 )
  80%
    transform: scale( .75 )
  100%
    transform: scale( .75 )
@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)
@keyframes movearound
	0%
		transform: translateX(20px) translateY(20px)
	25%
		transform: translateX(10px) translateY(-30px)
	50%
		transform: translateX(-20px) translateY(10px)
	75%
		transform: translateX(50px) translateY(30px)
	100%
		transform: translateX(0px) translateY(0px)
