.form
	box-sizing: border-box
	border-radius: 40px
	&__header
		font-family: $font-family__gilroy
		font-weight: $font-weight__gilroy--medium
		color: $colors__text
		text-align: center
		font-size: 2.6rem
		line-height: 30px
	&__label
		line-height: 24px
		text-align: center
	&__input
		border-radius: 40px
		background-color: $colors__white
	&__textarea
		height: 100px
		resize: none
